*.sdf
x64
Win32
ipch
x64
BGT_VideoDecodeTest
backup
Library
Release
*.mp4
*.opensdf
*.tlog
*.log
*.suo
*.obj
*.pdb
*.res
*.exe
*.idb
*.lastbuildstate
*.cache
*.unsuccessfulbuild
*.pch
*.config
*.manifest
*.ilk
*.exp
